@import "src/Styles/mixins.scss";

.searchInputWrapper>input {
  padding: 8px;
  border-radius: 8px;
  border: none;
  outline: none;
  width: 300px;
  font-size: 1rem;
}

@include very-small {
  .searchInputWrapper>input {
    width: 100%;
  }
}