@import 'src/Styles/mixins.scss';

.leaderBoardSection {
  border-radius: 8px;
  width: fit-content;
  margin: 0 auto;
  padding: 60px 0;
}

.noPlayerFound {
  color: #fff;
  font-size: 1.1rem;
  margin-top: 10px;
}

.noPlayerFound>span {
  color: #ffc906;
  font-weight: 600;
}