@import 'src/Styles/mixins.scss';

.leaderBoardSection {
  border-radius: 8px;
  width: 900px;
  margin: 0 auto;
  padding: 60px 0;
}

@include large {
  .leaderBoardSection {
    width: 100%;
  }
}

.noPlayerFound {
  color: #fff;
  font-size: 1.1rem;
  margin-top: 10px;
}

.noPlayerFound>span {
  color: #ffc906;
  font-weight: 600;
}